<div class = "center list-group">
  <% @manifests.each do |mfst| %>
    <li class="list-group-item">
      <%= link_to "#{mfst.title}", manifest_path(mfst.id) %> <br/>
    </li>
  <% end %>
</div>
<br/><br/><br/>
<div class="btn-group">
  <%= link_to "Create!", class: "btn btn-large btn-primary", new_manifest_path %>
</div>

