<h1> Build up your list, step by step </h1>


<%= form_for(@checklist) do |f| %>
  <div class="field">

    <%= f.label :step %><br />
    <%= f.text_area :step %>

    <%= f.submit "Add", class: "btn btn-large btn-primary" %>
  </div>
<% end %>

